/* RESET */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    margin: 0;
    font-size: 16px;
}
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}
li {
    display: block;
}
h1,
h2,
h3,
h4 {
    font-size: inherit;
}
a {
    text-decoration: none;
    color: #1E88E5;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
}

/* APP */


html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
}
body {
    font-size: 1.4rem;
}

.main_container {
    position: relative;
    width: 100%;
    background: gray;
}

.button {
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    background: #424242;
    border: 0 none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    padding: 0;
    cursor: pointer;

    border-radius: 2px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*---- Header ----*/
/*header {
    width: 100%;
    position: absolute;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    z-index: 50;
}
    header .row {
        padding: 10px;
        height: 50px;
    }
        header .row_1 {
            background: #BDBDBD;
        }
        header .row_2 {
            background: #E0E0E0;
        }
    header h1{
        display: block;
        width: 200px;
        font-size: 1.6rem;
        margin-left: 10px;
        height: 30px;
        line-height: 30px;
        float: left;
    }

    .button.tags_filter {
        float: right;
    }
    .user_name {
        float: right;
        display: block;
        height: 30px;
        line-height: 30px;
    }*/


/*---- Columns ----*/

/*.col_container{
    width: 100%;
    background: white;
    padding-top: 100px;
    height: 100vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    .col{
        background: #F5F5F5;
        width: 33.33333%;
        float: left;
        height: 100%;
        overflow-y: scroll;
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }*/


/*---- Columns --- Forms ----*/

/*.col .add_form {
    background: #EEEEEE;
    padding: 5px 10px 10px 10px;
    overflow: auto;

    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08), 0 2px 5px 0 rgba(0, 0, 0, 0.13);
}*/
    /*.add_form h2 {
        font-size: 1.1rem;
        text-transform: uppercase;
        color: #BDBDBD;
        height: 35px;
        line-height: 30px;
        border-bottom: 1px solid #E0E0E0;
        margin-bottom: 10px;
    }*/
    .add_form button[type='submit'] {
        background: #AED581;
        color: #33691E;

        font-family: 'Source Sans Pro', sans-serif;
        display: block;
        width: 80px;
        height: 30px;
        line-height: 30px;
        border: 0 none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1rem;
        text-align: center;
        padding: 0;
        cursor: pointer;

        border-radius: 2px;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        float: right;
    }
    .add_form button[type='reset'] {
        background: #EF9A9A;
        color: #B71C1C;

        font-family: 'Source Sans Pro', sans-serif;
        width: 80px;
        height: 30px;
        line-height: 30px;
        border: 0 none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1rem;
        text-align: center;
        padding: 0;
        cursor: pointer;

        border-radius: 2px;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .add_form input[type='text'] {
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 10px;
    }
    .add_form textarea {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
    }

    input[type=text]:focus,
    input[type=email]:focus,
    input[type=url]:focus,
    input[type=password]:focus,
    textarea:focus {
        outline: 0;
        border: 1px solid #90CAF9;
    }


/*---- Content ----*/
.content{
    padding: 10px;
}
img {
    display: block;
    max-width: 100%;
}


.single_item {
    background: #FFFFFF;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08), 0 2px 5px 0 rgba(0, 0, 0, 0.13);
    position: relative;
}
    .single_item .delete {
        background: rgba(255,255,255, .5);
        color: rgba(0,0,0, .4);
        border: 0 none;
        height: 20px;
        width: 20px;
        border-radius: 15px;
        text-align: center;
        padding: 0 0 3px 1px;
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 1.3rem;
        font-weight: bold;
    }
    .single_item .delete:hover {
        color: rgba(183,28,28, 1);
    }
    .single_item span {
        display: block;
        margin-bottom: 5px;
        line-height: 1.5;
    }

/*---- Single Item --- Image ----*/
.image_item {
    padding: 0;
}
/*---- Single Item --- Text ----*/
.text_item {
}
/*---- Single Item --- Link ----*/
.link_item {
}
    .link_title {
        font-weight: bold;
    }



/*---- Tags Lists --- Add AND Filter ----*/

.tags_list_add,
.tags_list_filter {
    /*border: 1px solid black;*/
    list-style: none;
    font-size: 11px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overflow: auto;
}
    .tags_list_add ul li,
    .tags_list_filter ul li{
        display: inline-block;
        float: left;
        margin: 0px 10px 10px 0;
        background: lightgray;
/*        height: 30px;*/
    }
        .tags_list_add ul li span,
        .tags_list_filter ul li span{
            height: 30px;
            line-height: 28px;
            padding: 0 10px;
        }

.tags_list_filter {
    display: none;

    padding: 15px;
    width: 600px;
    background: white;
    position: absolute;
    top: 105px;
    right: 10px;
    clear: both;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    z-index: 999999;
}



.tag_form {
    width: 150px;
    float: left;
    margin-right: 10px;
}

    .tag_form input {
        background: #ededed;
        height: 30px;
    }

    .tag_form input::-webkit-input-placeholder { /* WebKit browsers */
        color: gray;
    }
    .tag_form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: gray;
       opacity:  1;
    }
    .tag_form input::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: gray;
       opacity:  1;
    }
    .tag_form input:-ms-input-placeholder { /* Internet Explorer 10+ */
       color: gray;
    }

    .tag .delete {
        background: rgba(255,255,255, .0);
        color: rgba(0,0,0, .4);
        border: 0 none;
        height: 20px;
        width: 20px;
        border-radius: 15px;
        text-align: center;
        padding: 0 0 3px 1px;
        cursor: pointer;
	position: static;
	display: inline;
        font-size: 1.3rem;
        font-weight: bold;
    }
    .tag .delete:hover {
        color: rgba(183,28,28, 1);
    }
    .tag[data-sel] {
        border: 1px solid black;
    }

.bit {
	display: none;
}

.accounts-dialog {
	left: unset!important;
	right: 1ex;
}

p.plain {
	white-space: pre-wrap;
}



/* ---- APP ---- */

/* RESET */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    margin: 0;
    font-size: 16px;
}
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}
li {
    display: block;
}
h1,
h2,
h3,
h4 {
    font-size: inherit;
}
a {
    text-decoration: none;
    color: #1E88E5;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
}


html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
}
body {
    font-size: 1.4rem;
    line-height: 1.5;
}

img {
    display: block;
    /*max-width: 100%;*/
    width: 100%;
}

.empty-state {
    width: 100%;
    display: block;
    text-align: center;
}
.empty-state--column {
    margin-top: 50px;
}
.empty-state--tag {
    text-align: left;
}

.text--secondary {
    color: gray;
}
.text--secondary--small {
    font-size: 1.1rem;
    color: lightgray;
    height: 20px;
}
/* LAYOUT */

.main-container {
    position: relative;
    width: 100%;
    background: white;
}

/* BUTTONS */

/* General Style */

.btn {
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    height: 30px;
    line-height: 30px;
    border: 0 none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;

    font-size: 1.15rem;
    text-align: center;
    padding: 0 15px;
    cursor: pointer;
    border-radius: 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    float: left;
    margin-right: 10px;

    background: #3e4247;
}

/* Small variaton */

.btn--small {
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
}

/* Transparent variaton */

.btn--transparent {
    background: none;
    border: 1px solid #3e4247;
    color: #3e4247;
    line-height: 19px;
}

/* Transparent for dark background */

.btn--transparent--light {
    border: 1px solid #ecf0f3;
    color : #ecf0f3;
}

/* Color Variations */

.btn--positive {
    background: #63a870;
}

.btn--negative {
    background: #c87059;
}

.btn--neutral {
    background: #cfd7e0;
    color: #8c959f;
}

/* Align to right */

.btn--right,
.btn--positive--right,
.btn--negative--right,
.btn--neutral--right,
.btn--transparent--right {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}

/* Hover, focus and active states */

.btn:hover,
.btn:focus,
.btn:active {
    /*background: #616161;*/
    background: #485058;
    position: relative;
    top: -1px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    outline: none;
}

.btn--transparent:hover,
.btn--transparent:focus,
.btn--transparent:active {
    background: rgba(62,66,71,.2);
}

.btn--transparent--light:hover,
.btn--transparent--light:focus,
.btn--transparent--light:active {
    background: rgba(225,227,229,.2);
}

.btn--positive:hover,
.btn--positive:focus,
.btn--positive:active {
    background: #72bc80;
}

.btn--negative:hover,
.btn--negative:focus,
.btn--negative:active {
    background: #db775c;
}

.btn--neutral:hover,
.btn--neutral:focus,
.btn--neutral:active {
    background: #d8dee5;
}

/* HEADER */

.header {
    width: 100%;
    position: absolute;
    z-index: 1000;
}

.header h1 {
    color: white;
    font-size: 1.6rem;
    line-height: 30px;
    margin-left: 10px;
    width: 200px;
    float: left;
}

.header__row {
    padding: 10px;
    height: 50px;
    background: #627b97;
}

.header__row--two {
    background: #738dac;
}

.header__user {
    float: right;
    height: 30px;
    line-height: 30px;
}

a#login-name-link,
a#login-sign-in-link {
    color: white;
    text-decoration: none;
}

/*.header__user:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;

    border-top: 4px solid white;

    position: relative;
    top: 12px;
    margin-left: 7px;
}*/

/* Tags Filter */

.tags-filter {
    padding: 15px;
    width: 700px;
    background: white;
    position: absolute;
    top: 104px;
    right: 10px;
    clear: both;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;

    z-index: 1000;
    display: none;
}

.tags-filter:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: -8px;
    right: 39px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid white;
}

/* Tags list */

.tag-ls {
    list-style: none;
    font-size: 1.15rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    clear: both;
    overflow: auto;
    padding-top: 10px;
    max-height: 400px;
    border-top: 1px solid rgba(0,0,0,.12);
}

/* Add Tag Form */

.new-tag-form {
    padding-bottom: 10px;
    display: block;
    overflow: auto;
    width: 50%;
    float: left;
}

.new-tag-form input[type='text'] {
    float: left;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.new-tag-form .color {
    float: left;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border: 1px solid lightgray;
    border-left: 0;
}



/* Options Bar */

.tags-filter__options {
    text-transform: uppercase;
    font-size: 1.15rem;
    height: 30px;
    width: 50%;
    float: right;
}
.tags-filter__options li {
    float: right;
    height: 30px;
    color: rgba(66,66,66,.5);
    line-height: 30px;
    margin-left: 10px;
    padding: 0 10px;
}
.tags-filter__options li.selected {
    font-weight: bold;
    color: rgba(66,66,66,1);
}

/* Single Tag */

.single-tag {
    display: block;
    float: left;
    margin: 0px 5px 6px 0;
    height: 24px;
    line-height: 22px;
    cursor: pointer;
    border: 1px solid lightgray;
    color: gray;
    position: relative;
    background: #FFFFFF;
}

.single-tag:hover {
    color: #424242;
    background: #E0E0E0;
}

.single-tag__value {
    padding: 0 8px 0 12px;
    margin-right: 20px;
}

.single-tag[data-selected] .single-tag__value,
.single-tag[data-selected]:hover .single-tag__value {
    color: white;
    background: #424242;
}
/* Delete Button */

.single-tag__delete {
    padding: 0;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    line-height: 20px;
    cursor: pointer;
    background: none;
    color: rgba(0, 0, 0, .3);
    font-weight: bold;
    font-size: 1.2rem;
}

.single-tag[data-selected] .single-tag__delete {
    background: #424242;
    color: rgba(255, 255, 255, .70)
}

.single-tag__delete:hover,
.single-tag[data-selected] .single-tag__delete:hover {
    color: #ffffff;
    background: #BDBDBD;
}

.single-tag[data-selected] .single-tag__delete:hover {
    color: #ffffff;
    background: #616161;
}

.single-tag__color {
    width: 6px;
    height: 100%;
    float: left;
    background: #F5F5F5;
}

/* COLUMNS */

.col-container {
    padding-top: 100px;
    height: 100vh;
}

.col {
    height: 100%;
    background: #EEEEEE;
    width: 33.3333%;
    overflow: hidden;
    float: left;
}

/* Add Form */

.col__add-form {
    position: relative;
    z-index: 50;
}

/* Column Top Bar */

.col__add-form__top-bar {
    height: 35px;
    padding: 8px 10px 0 0;
    background: #F5F5F5;
    border-left: 1px solid rgba(0,0,0,.12);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}
/* Removes border from left column */

.col:first-of-type .col__add-form__top-bar {
    border-left: 0;
}

.col__add-form__top-bar h2 {
    width: 100%;
    margin-left: -90px;
    padding-left: 170px;
    float: left;
    text-align: center;
    font-size: 1.2rem;
    line-height: 20px;
    text-transform: uppercase;
    color: #9E9E9E;
}

/* Change of color for ADD button */
.close {
    background: #cfd7e0;
    color: #8c959f;
}
.close:hover {
    background: #d8dee5;
}

/* Form Container */

.col__add-form__form {
    position: absolute;
    left: 0;
    right: 0;

    padding: 15px;
    background: #FFFFFF;
    display: none;

    -webkit-box-shadow: inset 0px 138px 7px -135px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 138px 7px -135px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.2);
    box-shadow: inset 0px 138px 7px -135px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.2);

    border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    -webkit-border-radius: 0px 0px 2px 2px;
    border: 0px solid #000000;
}

/* Form fields */

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
    border: 1px solid #ccc;
    background: #F5F5F5;
}

.col__add-form__form input[type='text'] {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.col__add-form__form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
    outline: 0;
    border: 1px solid #90CAF9;
}

/* Column Content */

.col__content {
    /* 35px is the hight of the top bar in each column */
    height: calc(100% - 35px);
    overflow-y: scroll;
    padding: 15px;
}



.single-item {
    background: #FFFFFF;
    margin-bottom: 10px;
    border-radius: 2px;
    /*box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08), 0 2px 5px 0 rgba(0, 0, 0, 0.13);*/

    border: 1px solid rgba(0, 0, 0, .12);
    position: relative;
}

.single-item--link h3{
    margin-bottom: 8px;
}

.single-item__top-bar,
.single-item__content,
.single-item--tag-ls {
    padding: 15px;
}
.single-item__content {
    padding-top: 5px;
    padding-bottom: 20px;
}
.single-item__content .plain{
    white-space: pre-wrap;
}
.single-item--tag-ls {
    padding-bottom: 10px;
}

.single-item__top-bar {
    height: 30px; 
    padding: 4px 15px;
}

.single-item--image .single-item__top-bar {
    margin-bottom: 0px;
    border: none;
}

.single-item--image .single-item__content {
    padding: 0;
}

.single-item--image .single-item--tag-ls {
    border: none;
}

.single-item__top-bar__delete {
    background: rgba(255, 255, 255, .5);
    color: rgba(0, 0, 0, .4);
    border: 0 none;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    text-align: center;
    padding: 0 0 3px 1px;
    cursor: pointer;
    /*position: absolute;
    right: 5px;
    top: 5px;*/
    float: right;
    margin-right: -10px;
    font-size: 1.3rem;
    font-weight: bold;
}

.single-item__top-bar__delete:hover {
    color: rgba(183,28,28, 1);
}

.single-item__top-bar__edit {
    cursor: pointer;
    color: rgba(0, 0, 0, .3);
    height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.15rem;
}