/* CSS declarations go here */
header {
	width: 100%;
	display: table;
	white-space: nowrap;
}
header > * {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
/*	border: 1px solid black; */
}
#admin {
	width: 40%;
}
#login-buttons {
	padding: 1ex;
}
header h1 {
	width: 20%;
}
header .tags {
	width: 40%;
	padding: 0;
	list-style: none;
}
.tag {
	display: inline-block;
	padding: 0.5ex;
	margin: 0.5ex;
	border: 1px solid white;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.tag[data-sel] {
	border: 1px solid black;
}

.bit {
	display: none;
}
#bitcontainer {
	display: table;
	width: 100%;
	text-align: center;
	padding: 4em 0;
}
.bits {
	display: table-cell;
}
