/* CSS declarations go here */
header {
	width: 100%;
	display: table;
	white-space: nowrap;
}
header * {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
/*	border: 1px solid black; */
}
#admin {
	width: 40%;
}
#login-buttons {
	padding: 1ex;
}
header h1 {
	width: 20%;
}
#tags {
	width: 40%;
	padding: 0;
	list-style: none;
}
.tag {
	display: inline-block;
	padding: 1ex;
}
.tagon {
	border: 1px solid black;
}

