/* CSS declarations go here */
html {
	overflow-y: scroll;
}
header {
	width: 100%;
	display: table;
	white-space: nowrap;
}
header > * {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
/*	border: 1px solid black; */
}
#admin {
	width: 40%;
}
#login-buttons {
	padding: 1ex;
}
header h1 {
	width: 20%;
}
header .tags {
	width: 40%;
	padding: 0;
	list-style: none;
}
.tags {
	white-space: normal;
	padding: 0;
}
.tag {
	display: inline-block;
	padding: 0.5ex;
	margin: 0.5ex;
	border: 1px solid transparent;
	background: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.tag[data-sel] {
	border: 1px solid black;
}

.bit {
	display: none;
	padding: 1ex 0;
}
.bit img {
	max-width: 100%;
}
#bitcontainer {
	display: table;
	width: 100%;
	text-align: left;
	padding: 4em 0;
}
.bits {
	display: table-cell;
	list-style: none;
	padding: 1ex;
	width: 33%;
}

.newbit {
	padding: 1ex;
	margin: 1ex 0;
	width: 30ex;
	text-align: right;
}
.newbit textarea {
	width: 30ex;
	min-height: 4em;
}
label {
	white-space: nowrap;
}

.delete {
	float: right;
	margin: 1em;
	color: red;
}

.target {
	background: red;
}
